.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 3px solid blue; 
}

.recovered {
  border-bottom: 3px solid green; 
}

.deaths {
  border-bottom: 3px solid red; 
}

.title_infected {
  color: blue !important;
}

.title_recovered {
  color: green !important;
}

.title_deaths {
  color: red !important;
}

@media(max-width: 770px) {
  .card {
    margin: 2%, 0 !important;
  }
}