.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 3px solid blue; 
}

.recovered {
  border-bottom: 3px solid green; 
}

.deaths {
  border-bottom: 3px solid red; 
}

.infected_title {
  color: blue !important;
}

.recovered_title {
  color: green !important;
}

.deaths_title {
  color: red !important;
}